body {
    font-family: Inter, sans-serif;
    background-color: #fff;
    color: #333333;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

hr {
    border: 1px solid rgba(0, 0, 0, 0.1);
}